.ddb-statblock {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -10px;
}

.ddb-statblock-item {
    -webkit-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    padding: 10px;
}

.ddb-statblock-item-label {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.ddb-statblock-item-value {
    font-size: 16px;
}

.detail-content .image {
    display: none;
}

.details-aside {
    width: 340px;
    margin: 0 0 0 auto;
}

.details-aside .image {
    display: none;
}

.detail-container-content.footer {
	box-sizing: inherit; 
	-webkit-tap-highlight-color: transparent; 
	outline: 0px; 
	display: flex; 
	justify-content: space-between; 
	align-items: baseline; 
	flex-wrap: wrap; 
	height: 50px;
}

.tags {
	box-sizing: inherit; 
	-webkit-tap-highlight-color: transparent; 
	outline: 0px; 
	font-size: 12px; 
	display: flex; 
	align-items: baseline; 
	margin: 0px 10px 0px 0px; 
	padding: 10px 0px; 
	font-family: Roboto, Helvetica, sans-serif;
}

.tag {
	box-sizing: inherit; 
	-webkit-tap-highlight-color: transparent; 
	outline: 0px; 
	border: 1px solid #cbc6c3; 
	box-shadow: #dcd1c7 0px 0px 4px 0px inset; 
	padding: 4px 8px; 
	font-size: 9px; 
	font-weight: bold; 
	text-align: center; 
	text-transform: uppercase; 
	display: inline-block; 
	margin: 0px 2px;
}

.label {
	box-sizing: inherit; 
	-webkit-tap-highlight-color: transparent; 
	outline: 0px;
}